body{
 -ms-overflow-x: hidden;
    padding: 0;
    margin: 0;
}


.text>div:first-child{
    padding:27px;
}
.gunbo>div:first-child{
    float: right;
    width: 600px;
    height: 500px;
    margin-right: 20px;
}
.H1{
    width: auto;
    margin-top:3px;
}
.color{
    color: #2f937d;
    float: left;
    margin-right: 2px;
}
.alright{
    width: 40%;
    right: 0;
    padding-left: 10px;
    float: right;
    margin-bottom: 30px;
}
.alinfo{
    width: 80%;
    float: left;
    border-left: #9d9d9d solid 1px;
    position: relative;
    height: auto;
    padding-left: 10px;
}
.gunbo{
    width: 600px;
    height: 380px;
    overflow: hidden;

}
.weizhi{
    float: left;
}
#houseType{
    width: 50px;
}
.thumbNail{
    width: 100%;
    height: 100px;
    bottom: 0;
    margin-top: 10px;
    padding: 5px;
}
.thumbNail1{
    width: 588px;
    height: 100%;
    width: auto;
    overflow: hidden;
}
.thumbNailTwo{
    width: 150px;
    float: left;
    margin-right: 5px;
    opacity: 0.6;
}
.thumbNailOne{
    width: 150px;
    float: left;
    margin-right: 5px;
    opacity: 0.6;
}
.smallCar{
    width: 100%;
    border: solid 1px black;
    height: 100px;
}
.alLeft{
    left: 0;
    position: relative;
    float: left;
}
.Left{
    position: relative;
    float: right;
    display: inline;
    width: 75%;
}

.position{
    display: none;
}
.mid{
    position: relative;
    width: 100%;
    padding-top: 50px;
}
.imfo{
     border-style:solid;
     border-width:1px;
     border-radius: 15px;
     border-color: #9d9d9d;
     padding: 30px;
     width: 400px;
    overflow: auto;
    background-color: white;
    top: 0;
 }
.myBtn{
    float: none;
}


.money{
    font-family: 微软雅黑;
    font-size: 32px;
    color: #f3981c;
    font-weight: bolder;
    margin-bottom: 15px;
}
.gn{
    width: auto;
    background-color: #fef3e5;
    color: #f3981c;
    margin-right: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border: #ffdaac solid 1px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.Authentication{
    width: 25px;
    float: left;
    margin-right: 5px;
    color: #2f937d;
}
.tb1{
    border-collapse:separate; border-spacing:0px 30px;
}
.tb1>div:nth-child(1)>div{
    float: left;
}
.tb1>div:nth-child(2)>div{
    float: left;
}
.tb1>div:nth-child(3)>div{
    float: left;
}
.star{
    color:#2f937d ;
    float: left;
    vertical-align: center;
}
.footStar{
    color:#2f937d ;
    float: left;
    vertical-align: center;
    font-size: 5px;
    padding-top: 1px;
}
.num{
    margin-left: 8px;
    float: left;
    font-family: 微软雅黑;
    font-weight: lighter;
    font-size: 8px;
}
.userEval{
    padding-left: 15px;
    vertical-align: center;
}
.tr1{
    font-family: 微软雅黑;
    font-size: 18px;
}
.tr2{
    color: #9d9d9d;
    font-family: 微软雅黑;
    font-size: 12px;
    height: 10px;
}
.st > li {
    width: 50px;
    height: 30px;
}
.name3{
    font-weight: bold;
}
.minNav{
    border-top: #9d9d9d solid 1px;
    height: 43px;
    position: relative;
    letter-spacing: 3px;
    background-color: white;
    z-index: 999;
}
.minNav2{
    height: 0px;
    position: fixed;
    letter-spacing: 3px;
    background-color: white;
    z-index: 999;
    top:0;
    display: none;
}
.minNav>a{
    font-size: x-large;
    font-weight: bolder;
    float: left;
    color: #2f937d;
}
.minNav>p{
    float: left;
    font-size: large;
    font-family: 微软雅黑;
    font-weight: bolder;
    color: #2f937d;
}.minNav2>a{
     font-size: x-large;
     font-weight: bolder;
     float: left;
     color: #2f937d;
 }
.minNav2>p{
    float: left;
    font-size: large;
    font-family: 微软雅黑;
    font-weight: bolder;
    color: #2f937d;
}

.sayFirst{
    float: left;
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid #5e5e5e;
    margin-top: 20px;
}
.say{
    float: left;
    font-family: 黑体;
    border-top: 1px solid black;
    margin-bottom: 30px;
    width: 100%;
}
.say4{
    float: left;
    font-family: 黑体;
    border-top: 1px solid black;
}
.ownerSay{
    font-size: 25px;
    color: black;
    padding-bottom: 10px;
    font-weight: bolder;
    margin-top: 30px;

}
.ownerSay2{
    font-size: 25px;
    color: black;
    padding-bottom: 10px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-left: 18px;
}
.name1{
    float: left;
    margin-bottom: 5px;
    vertical-align: middle;
}
.name2{
    float: left;
    margin-right: 8px;
    color: #f3981c;
    vertical-align: middle;
 }
 .connet{
     color: #2f937d;
     vertical-align: middle;
     font-weight: bolder;
 }
 .EvalJomp{
     color: black;
 }
 .EvalJomp:hover{
     color: black;
 }
 .eval1{
     float: left;
     vertical-align: middle;
 }
.eval2{
    float: left;
    color: #2f937d;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: bolder;
}
.eval3{
    float: left;
    vertical-align: middle;
}
.authen{
    width: 16px;
    float: left;
    margin-left: 15px;
    margin-right: 3px;
    vertical-align: middle;
}
.ownerSayText{
    margin-top: 10px;
}
.facilities>div>img{
    width: 65px;
    height: auto;
    margin: 8px;
}
.facilities{
    height: auto;
}
.facilities>div{
    float: left;
}
.more{
    color: #2f937d;
    float: right;
    bottom: 0;
}
.Position{
    float: left;
    margin-right: 5px;
}


.Situation td:first-child{

    color: #2f937d;
    width: 50px;
    vertical-align: text-top;
    font-weight: bolder;
}
.Situation td{
    font-size: 18px;
}
.Situation{
    border-collapse:separate; border-spacing:0px 10px;
}
.map{
    height: 400px;
    border: solid 1px black;
    margin-bottom: 30px;
}


.guessLikeImg{
    width: 260px;
    height: 180px;
    margin-right: 45px;
    overflow: hidden;
    margin-bottom: 10px;
}
.guessLikeImgLast{
    width: 260px;
    height: 180px;
    overflow: hidden;
    margin-bottom: 10px;
}
.guessLikeImg>img{
    width: 120%;
}
.guessLikeImgLast>img{
    width: 120%;
}
.likeName{
    font-size: 18px;
    padding-right: 15px;
}
.guessYouLikeMoney{
    font-family: "微软雅黑 Light";
    font-size: 16px;
}
.likeMoney{
    font-size: 8px;
}
.user1>img{
    float: left;
    width: 36;
    margin-right: 10px;
}
.user1{
    margin-top: 25px;
}
.user2>img{
    float: left;
    margin-right: 10px;
}
.alFoot{
    width: 100%;
    clear: both;
    display: block;
    vertical-align: bottom;
    margin-top: 100px;
}
.guessYouLike{
    width: 100%;
    left: 0;
    right: 0;
    display: inline;
    margin: auto;
    border: 1px solid #9d9d9d;
}
.guessYouLike>div:nth-child(1){
    margin-right: 5%;
}
.guessYouLike>div:nth-child(2){
    margin-right: 5%;
}
.guessYouLike>div{
    width: 30%;
    float: left;
    margin-bottom: 60px;
}
.guessYouLike>div>img{
    width: 100%;
}
.lastSay{
    font-family: 黑体;
    width: 80%;
    margin: auto;
    border-top: darkgrey solid 1px;
    padding-top: 20px;

}
.lunbo>li>img{
    width: 100%;
    height: 90%;
}
.lunbo>li{
    float: left;
}
.lunbo{
    height: 400px;
    overflow: hidden;
    list-style: none;
    padding: 0px;
    margin-bottom: 5px;
}
.lunbo>li{
    width: 100%;
}
.lunboLeft{
    top: 0;
    left: 0;
    width: 30px;
    height: 50px;
    float: left;
    position: absolute;
    z-index: 999;
    background-color: black;
    margin-top: 35%;
    opacity: 0.4;
    padding-top: 7px;
    margin-left: 8px;
}
.lunboLeft>span{
    font-size: 30px;
}
.lunboRight>span{
    font-size: 30px;
}
.absolute{
    position: absolute;
    width: 600px;
    height: 450px;
    padding-left: 25%;
}
.minAbsolute{
    position: absolute;
    width: 100%;
    height: 90px;
}
.lunboRight{
    top: 0;
    right: 0;
    width: 30px;
    height: 50px;
    float: right;
    position: absolute;
    z-index: 999;
    background-color: black;
    margin-top: 35%;
    opacity: 0.4;
    padding-top: 7px;
    margin-right: 8px;
}
.BigLunbo{

}
.smallImg{
    height: 90px;
    width: 100%;
    padding: 0;
}
.smallImg>li:nth-child(1){
    height: 90px;
    width: 22%;
    list-style: none;
    float: left;
    overflow: hidden;
    opacity: 0.5;
    padding: 0;
    margin-right: 4%;
}
.smallImg>li:nth-child(2){
    height: 90px;
    width: 22%;
    list-style: none;
    float: left;
    overflow: hidden;
    opacity: 0.5;
    padding: 0;
    margin-right: 4%;
}
.smallImg>li:nth-child(3){
    height: 90px;
    width: 22%;
    list-style: none;
    float: left;
    overflow: hidden;
    opacity: 0.5;
    padding: 0;
    margin-right: 4%;
}
.smallImg>li:nth-child(4){
    height: 90px;
    width: 22%;
    list-style: none;
    float: left;
    overflow: hidden;
    opacity: 0.6;
    padding: 0;
}
.smallImg>li:hover{
    opacity: 1;
}
.smallImg>li>img{
    width: 140px;
}
.smallImg>li.ACTIVE{
    opacity: 1;
}
.identy{
    opacity: 0.6;
}
.fourth{
    margin-right: 0;
}
.exa>div{
    background-color: white;
    color: dimgray;
    float: right;
    align-content: center;
    text-align: center;
    border-radius:3px;
    right: 0;
    margin-right: 15px;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.exa>div>span:nth-child(1){
    margin-left: 3px;
}
.exa{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    z-index: 10;
}
.exa>div>span:nth-child(2){
    color: palevioletred;
    display: none;
}
.exa>div:hover{
    background-color: #fbc070;
    color: white;
    cursor: pointer;
}
#layout img {
    width: 80%;
}
#layout{
    border: 1px solid #9d9d9d;
}

.videoAndImg{
    width: auto;
    margin: auto;
    bottom: 20px;
    background-color: black;
    background:rgba(0,0,0,0.5);
    z-index: 999;
    margin-top: 65%;
    padding: 3px auto;
    position: absolute;
    padding: 3px;
    margin-left: 259px;
}
.videoAndImg>div{
    display: inline;
    margin: auto;
    color: white;
    font-size: 16px;
    padding: 2px;
}
.videoAndImg>div:nth-child(2){
    background-color:  #fbc070;
}
.smallLeft{
    top: 0;
    left: 0;
    width: 20px;
    height: 90px;
    float: left;
    position: absolute;
    z-index: 999;
    background-color: black;
    opacity: 0.4;
    text-vertical-align: center;
    padding-top: 37px;
}
.smallRight{
    top: 0;
    right: 0;
    width: 20px;
    height: 90px;
    float: right;
    position: absolute;
    z-index: 999;
    background-color: black;
    opacity: 0.4;
    padding-top: 35px;
}
.minGunbo{
    position: relative;
}
.minGunbo>div:hover{
    opacity: 0.8;
}
.see{
    color: white;
    background-color: #f3981c;
    float: right;
    padding: 5px;
    padding-right: 2px;
    margin-top: 3px;
    letter-spacing: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.see:hover{
    background-color:  #f18b00;
}

.imageShow img{
    width: 100%;
}
.look{
    width: 50%;
    border-radius: 10px;
    border: 1px solid #5e5e5e;
    padding: 20px;
    position: fixed;
    z-index: 1050;
    background-color: white;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    -webkit-overflow-scrolling: touch;
}
.lookTitle{
    text-align: center;
    font-size: 20px;
    color: #5e5e5e;
    border-bottom: 1px solid #9d9d9d;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.lookName{
    text-align: right;
    line-height: 32px;
    font-size: 15px;
}
.lookIpt{
    width: 50%;
}
.lookLine{
    margin-bottom: 15px;
}
.lookButton{
    margin-top: 10px;
    width: 40%;
    text-align: center;
    background-color: #f18b00;
    color: white;
    height: 35px;
    line-height: 35px;
    border-radius: 10px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}
.lookButton:hover{
    background-color: #f3981c;
}
#lookClose{
    float: right;
    color: #9d9d9d;
    cursor: pointer;
}
.roommate{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    float: left;
}
.roommate>img{
    width: 100%;
}
.roommates{
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    background-color: white;
    border: 1px dashed #feaa6a;
    margin-right: 20px;
    margin-bottom: 20px;
}
.name{
    color: #9d9d9d;
    float: left;
    font-weight: 100;
}
.roommateInfo{
    color: #9d9d9d;
    font-weight: 100;
}
.roommateHead{
    top: 0;
    bottom: 0;
    margin: auto;
}
.line{
    float: left;
}

