body{
    overflow-x: hidden;

}
.Feedback{
    border: 1px solid #d4d4d4;
    margin-top: 30px;
    margin-bottom: 30px;
}
.CoverImg{
    float: left;
}
.CoverImg img{
    float: left;
    height: 100px;
    width: 100px;
    margin: 10px;
}
.FeedbackImg{
    float: left;
    height: 100px;
    width: 100px;
    margin: 10px;
    border: #d4d4d4 1px dashed;
}
.FeedbackImg:hover{
    background-color: #d4d4d4;
}
#upFeedback{
    width: 150px;
}
textarea{
    width: 100%;
    height: 200px;
}