.gunbo{
    width: 500px;
    overflow: hidden;
    height: 300px;
    position: relative;

}
.tu{
    position: absolute;
    width: 2100px;
}
.tu>li>div>img{
    width: 500px;
    height: auto;
}
.tu>li{
    float: left;
    list-style: none;

}