body{
    overflow-x: hidden;
}
.registSvg{
    width: 15px;
    height: 15px;
}
.background{
    height: 600px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.registBody{
    position: relative;
}
.registBody>div:first-child img{

}
.registinner{
    position: absolute!important;
    background-color: white;
    border-radius: 10px;
    height:360px;
    top: 80px;
}
.registinner>div:first-child{
    position: relative;
}
.registinner>div:first-child>div:first-child{
    width: 100%;
    height: 15px;
    border-bottom: 1px #e4e4e4 solid;
}
.registinner>div:first-child>div:nth-child(2){
    position: absolute;
    color: #848484;
    background-color: white;
    text-align: center;
    font-weight: bold;
    top: 7px;
}
.registInnerBody{
    margin-top: 10px;
    color:#ffa144 ;
    font-weight: bold;
    font-size: small;
}

.registInnerBody span{
    font-weight: normal;
}
.margin-top-sm{
    margin-top: 20px!important;
}
.margin-sm{
    margin-left: 20px!important;
}
.margin-xs{
    margin: 10px 5px!important;
}
.RegistInput{
    display: inline;
    font-weight: normal;
    font-size: small;
    border-left: none;
}
.Registlabel{
    font-weight: normal;
    font-size: small;
}
input-group-addon{
    padding: 5px;
}

#ToRegist{
    background-color: #df8e3e;
    color: white;
    margin-top: 20px;
}

#ToRegist:hover{
    background-color: #e5a565;
    margin-top: 20px;
}
#GetEmailKey{
    margin-top: 20px;
}
@media screen and (max-width: 960px) {
    .background img{

        height: 600px!important;
    }
}
.mimadenglu{
    font-size: large;
    margin-bottom: 25px;
    margin-top: 15px;
}
.yanzhengma{
    margin-left: 6px;
    margin-top: 6%;
}
.zhuce{
    color: #878787;
    float: right;
    margin-right: 5px;
    margin-top: 15px;
    font-size: small;
    font-family: "微软雅黑";
    font-weight: lighter;
}
a:hover   {color:#df8e3e;}
.b1{
    width: 100%;
    height: auto;
}