<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuangshu.livable.mapper.LandlordHourseRelationMapper" >
  <resultMap id="BaseResultMap" type="com.chuangshu.livable.entity.LandlordHourseRelation" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <id column="hourse_id" property="hourseId" jdbcType="INTEGER" />
  </resultMap>
</mapper>