<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuangshu.livable.mapper.OpinionCountMapper" >
  <resultMap id="BaseResultMap" type="com.chuangshu.livable.entity.OpinionCount" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="opinion_id" property="opinionId" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
  </resultMap>
</mapper>