<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuangshu.livable.mapper.PersonalInformationMapper" >
  <resultMap id="BaseResultMap" type="com.chuangshu.livable.entity.PersonalInformation" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="head_portrait" property="headPortrait" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="hobby" property="hobby" jdbcType="VARCHAR" />
  </resultMap>
</mapper>