<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuangshu.livable.mapper.UserOpinionMapper">
  <resultMap id="BaseResultMap" type="com.chuangshu.livable.entity.UserOpinion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="opinion_id" jdbcType="INTEGER" property="opinionId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="star" jdbcType="INTEGER" property="star" />
    <result column="opinion" jdbcType="LONGVARCHAR" property="opinion" />
  </resultMap>

</mapper>