<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuangshu.livable.mapper.UserOpinionMapper" >
  <resultMap id="BaseResultMap" type="com.chuangshu.livable.entity.UserOpinion" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="opinion_id" property="opinionId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="star" property="star" jdbcType="INTEGER" />
    <result column="opinion" property="opinion" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>